node_modules
.DS_Store
*.local
.idea
packages/*/dist
packages/*/.turbo
packages/*/.pnpm-debug.log
packages/*/arco-style.mjs
packages/*/arco-style-css.mjs
packages/*/arco-style.js
packages/*/arco-style-css.js
packages/*/components.d.ts
packages/*/web-types.json
packages/*/resolver.d.ts
packages/*/resolver.mjs
packages/*/resolver.ts

packages/icon/index.*
