@import '../../style/var.scss';

.#{$prefix}-pro-layout {
  height: 100%;
  background-color: var(--color-bg-2);
  &__header {
    height: 64px;
    border-bottom: 1px solid var(--color-border);
  }
  &__wrap {
    height: 100%;
  }
  &__content {
    background-color: var(--color-fill-2);
    min-height: 0;
  }
  &__wrap-container {
    min-height: 0;
  }
  &__spin {
    width: 100%;
    height: 100%;
  }
  &__smaller-menu-drawer {
    .arco-drawer {
      background-color: var(--color-menu-light-bg);
    }
  }
  &__menu-scrollbar {
    height: 100%;
    .arco-scrollbar-container {
      height: 100%;
      overflow: auto;
    }
  }
}

@import './navbar.scss';
