@use '../../style/var.scss' as *;

.#{$prefix}-login-page-banner {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100%;
  &__title {
    color: rgba(255, 255, 255, 0.9);
    font-weight: 500;
    font-size: 20px;
    line-height: 28px;
  }
  &__subtitle {
    margin-top: 8px;
    color: var(--color-text-3);
    font-size: 14px;
    line-height: 22px;
  }
  &__image{
    width: 70%;
    margin-top: 30px;
    object-fit: contain;
  }
}
