@import '../../style/var.scss';
$component:#{$prefix}-login-page;
.#{$component} {
  height: 100%;
  background-color: var(--color-bg-2);
  &__sider {
    --#{$component}-sider-bg: linear-gradient(163.85deg, #1d2129 0%, #00308f 100%);
    --color-menu-light-bg: var(--#{$component}-sider-bg);
    --color-menu-dark-bg: var(--#{$component}-sider-bg);
    &-inner {
      height: 100%;
    }
  }
  &__logo-container {
    display: inline-flex;
    align-items: center;
    padding: 24px;
  }
  &__logo-text {
    margin-left: 4px;
    margin-right: 4px;
    color: rgba(255, 255, 255, 0.9);
    font-size: 20px;
  }
  &__content {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__form {
    width: 70%;
    max-width: 300px;
  }
}
